<section class="session">
  {{!log "session" this }}
  <h1>{{this.name}}</h1>
  <h3>Exam Centre Number : 36538</h3>
  <div class="grid-container">        
    {{#each this.groups as | group |}}
      <div class="group">   
        <h2>{{group.name}}</h2>
       
       {{!log "group" group }}
        <ul class="h2">
          {{#each group.papers as | paper |}}
            {{#ifNotEqual paper.Paper group.name }}
              <li>
                {{paper.Paper}}
              </li>
            {{/ifNotEqual}}
          {{/each }}
        </ul>
          
        <div class="paper">
            <table>
            <tr>
              <th>Start</th>
              <td contenteditable="true" spellcheck="false" class="starttime">{{this.start_time}}</td></tr>
            <tr>
              <th>Duration</th>
              <td class="duration" data-dur="{{this.durationmins}}">{{this.dur}}</td></tr>
            <tr>
              <th>Finish</th>
              <td class="finishtime">{{this.finishtime}}</td></tr>
            <tr>
              <th>25% ET</th>
              <td class="finishtime25">{{this.finishtime25}}</td></tr>
            <tr>
              <th>50% ET</th>
              <td class="finishtime50">{{this.finishtime50}}</td></tr></table>
            
          </div>
            
      </div>
    {{/each}}
  </div>
</section>
