<!-- It's a handlebars template! hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  {{> head }}
  <body class="center">
    
    <header>
      <div id="DigitalCLOCK" class="clock" onload="showTime()"></div>
      <script  src="function.js"></script>
    </header>

    <div class="error">
      <ul>
      {{log "errors" errors}}
      {{#each errors as |error|}}
        <li>{{error}}</li>
      {{/each}}
      </ul>
    </div>
    
    <div>
      <ul>
        {{#each sessions as |session|}}
          <li>
            <a href="session/{{session.id}}">{{session.name}}</a>
            ( {{#each session.rooms as |room|}}
              <a href="/session/room/{{ room }}/{{session.id}}">{{ room }}</a>              
            {{/each}} )
            
          </li>
        {{/each}}
        <li>
          <a href="/current">Current</a>    
          ( {{#each allrooms as |room|}}
              <a href="/current/room/{{ room }}">{{ room }}</a>              
            {{/each}} )
          
        </li>
      </ul>
      
      </div>
  </body>
</html>
